body
{
    background-image: url("./img/download.jpg");
     background-color: #cccccc;
    background-repeat:no-repeat;
    background-blend-mode:color;
}

.card{
    margin-left: 10px;
    width: 400px;
    display: inline-block;
}
